.plant-item {
    padding: 10%;
    margin: 5px;
}

.plant-item h2 {
    font-size: 40px;
    font-weight: 600;
    text-align: center;
    color: #1a130e;
    margin: 0px;
}

.plant-item p {
  font-size: 25px;
  text-align: center;
  color: #5e5956;
  margin-top: 10px;
}

.plant-item img {
  width: 80%;
  height: 80%;
  margin: 10%;
}

.size-button {
    background-color: #ffffff;
    color: #1a130e;
    font-size: 12px;
    width: 95px;
    height: 55px;
}


.cancel-button {
    background-color: #ffffff;
    color: #1a130e;
    font-size: 12px;
    width: 95px;
    height: 55px;
}

.plant-size-wrapper {
    margin: 10px;
    padding-left: 30%;
}


.add-cart-button {
    background-color: #1a130e;
    color: #ffffff;
    font-size: 15px;
    width: 200px;
    height: 60px;
    border: none;
}

.add-cart-wrapper {
    margin: 20px;
    padding-left: 40%;
}